<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowUserProfileServlet</servlet-name>
        <servlet-class>ShowUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPostServlet</servlet-name>
        <servlet-class>addPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyPostsServlet2</servlet-name>
        <servlet-class>ShowMyPostsServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRatingServlet</servlet-name>
        <servlet-class>AddRatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUserProfileServlet</servlet-name>
        <url-pattern>/ShowUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPostServlet</servlet-name>
        <url-pattern>/addPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyPostsServlet2</servlet-name>
        <url-pattern>/ShowMyPostsServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRatingServlet</servlet-name>
        <url-pattern>/AddRatingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
